.button {
    padding: 10px 34px;
    background-color: #FF543E;
    outline: none;
    border: none;
    border-radius: 3px;

    span {
        font-size: 15px;
        font-weight: 300;
        color: white;
    }
}